.container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 1024;
  height: 756px;
}

.box {
  width: 320px;
  margin: 10px 10px;
}

.box1 {
  height: 60px;
  display: flex;
  flex-direction: row;
}

.box2 {
  height: 330px;
}

.box3 {
  width: 420px;
  height: 160px;
}

.box4 {
  height: 40px;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
}

.item1 {
  width: 160px;
  height: 60px;
  justify-content: flex-start;
  padding-left: 10px;
}

.item2 {
  width: 160px;
  height: 60px;
  justify-content: flex-end;
  padding-right: 10px;
}

.item3{
  display: flex;
  justify-content: center;
  height: 48px;
  margin: 6px 2px;
}

.item4{
  display: flex;
  justify-content: center;
  height: 48px;
  margin: 4px 2px;
}

.item5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  margin: 4px 4px;
}

.ibox1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 4px 2px;
  background: white;
  border: 1.7px solid darkgrey;
  border-radius: 3px;
}


.ibox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 36px;
  height: 48px;
  border-width: 0px;
  margin: 4px 2px;
  border-radius: 3px;
  background: silver;

  font-size: 16px;
}

button:hover{
  color:aliceblue;
  background-color: slategray;

}


.enter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 54px;
  height: 48px;
  margin: 4px 2px;
  border-width: 0px;
  border-radius: 3px;
  background: silver;
}

.ibox3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 12px;
  width: 70px;
  height: 24px;
  border-width: 0px;
  border-radius: 3px;
  background-color: darkgrey;
}